<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>
</head>
<body>
</body>
</html>

{% extends 'admin/master.html' %}
{% block body %}

{% if current_user.is_authenticated %}
<h1 class="text-center mb-4">
    Chào <span class="text-danger">{{ current_user.name}}</span>
    Chào <span class="text-danger">{{ current_user.user_role}}</span>

</h1>

{% endif %}
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/signIn.js') }}"></script>
{% endblock%}

