{% extends 'admin/master.html' %}
{% block body %}
<h1 class="text-center text-success my-3">THAY ĐỔI QUY ĐỊNH CHUYẾN BAY</h1>
<h3 class="mt-3">Quy định KHÁCH HÀNG</h3>
 <div class="row">
        <div class="col col-lg-12">
            <label class="form-label">Thời gian đặt vé trực tuyến tối thiểu (phút):</label>
            <input value="{{ rules['min_onl_ticket_booking_time'] }}" name="min_onl_ticket_booking_time" required type="number"
                   class="form-control" id="min_onl_ticket_booking_time">
        </div>
 </div>
<h3 class="mt-3">Quy định NHÂN VIÊN</h3>
 <div class="row">
        <div class="col col-lg-12">
            <label class="form-label">Thời gian bán vé tối thiểu (phút):</label>
            <input value="{{ rules['min_ticket_sale_time'] }}" name="min_ticket_sale_time" required type="number"
                   class="form-control" id="min_ticket_sale_time">
        </div>
 </div>
<h3 class="mt-3">Quy định CHUYẾN BAY</h3>
 <div class="row">
        <div class="col col-lg-12">
            <label class="form-label">Thời gian bay tối thiểu (phút):</label>
            <input value="{{ rules['min_flight_time'] }}" name="min_flight_time" required type="number"
                   class="form-control" id="min_flight_time">
        </div>
    </div>

<!-- <button id="submit-btn" class="btn btn-primary w-100 mt-3 text_center text-center ">Thay đổi</button>-->

<div class="btn-group w-100 btn  mt-3" role="group" aria-label="Basic mixed styles example ">
  <button type="button" class="btn btn-danger w-100" >Trở về</button>
  <button  id="submit-btn" type="button" class="btn btn-success w-100">Thay đổi</button>

</div>
<div>{{rules.min_onl_ticket_booking_time}}</div>
<table class="mt-4 table">
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th title="Thời gian bay tối thiểu" scope="col">THỜI GIAN BAY (MIN)</th>
        <th title="Thời gian khách hàng đặt vé tối thiểu" scope="col">THỜI GIAN KHÁCH HÀNG ĐẶT VÉ (MIN)</th>
        <th title="Thời gian nhân viên đặt vé tối thiểu" scope="col">THỜI GIAN NHÂN VIÊN DẶT VÉ (MIN)</th>


    </tr>
    </thead>
    <tbody>
    {% for r in rules_list %}
    <tr>
        <th scope="col">{{r.id}}</th>
        <th scope="col">{{r.min_onl_ticket_booking_time}}</th>
        <th scope="col">{{r.min_ticket_sale_time}}</th>
        <th scope="col">{{r.min_flight_time}}</th>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% block js %}<script src="{{ url_for('static', filename='js/rules.js') }}"></script>{% endblock%}
{% endblock %}

