
{% block content %}
<body>
    <header class="bg-dark text-white text-center py-3 d-flex justify-content-between">
        <div class="d-flex">
            <img src="logo.png" alt="Logo" width="100">
            <h1 class="mb-0">VY BÌNH TRIỀU</h1>
        </div>
        <div class="d-flex">
            <a href="{{ url_for('login') }}" class="btn btn-primary me-2">Đăng nhập</a>
            <a href="{{ url_for('logup') }}" class="btn btn-secondary">Đăng ký</a>
        </div>
    </header>
</body>
{% endblock %}

