<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Thông Tin Cá Nhân</title>
</head>
<body onload="LayThongTinNguoiDung()">

<div class="container mt-5">

    <form action="/book_ticket" method="post" >
        <h2>NHẬP THÔNG TIN CÁ NHÂN ĐỂ ĐẶT VÉ VÀ THANH TOÁN</h2>
        <h3 name="flr">
            {%for tuyen in dstuyen%}
            {%if tuyen.id == e%}
            Tuyến số: {{tuyen.id}}
            {%endif%}
            {%endfor%}
        </h3>
        <div class="form-group">
            <label for="fullName">Họ Tên:</label>
            <input value="Nguyen Van A" type="text" class="form-control" name="fullName" placeholder="Nhập họ tên" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input value="clong2001@gmail.com" type="email" class="form-control" id="email" placeholder="Nhập email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
            <small class="text-muted">Vui lòng nhập đúng định dạng email.</small>
        </div>
        <div class="form-group">
            <label for="phone">Số Điện Thoại:</label>
            <input value="0799762166" type="tel" class="form-control" id="phone" placeholder="Nhập số điện thoại" pattern="\d+" required>
            <small class="text-muted">Chỉ được nhập số.</small>
        </div>
        <button id="btn-payment" type="submit" class="btn btn-success ml-2">Thanh Toán</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% block js %}
<script src="{{ url_for('static', filename='js/book_ticket.js') }}"></script>
{% endblock %}

