{% extends 'layout/base.html' %}

{% block title %}Đăng kí{% endblock %}

{% block content %}
<body onload="LayThongTinNguoiDung()">
{% if er == 0 %}
<div class="app">
        <div class="modal">
            <div class="modal__body">

                <!-- modal dùng chung -->
                <div class="modal">
                    <div class="madal__overlay er-con">
                        <div class="auth-form er-con2">
                            <div class="auth-form__container er_text ">Lỗi server</div>
                            <a href="{{ url_for('index') }}" class="ok">ok</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
 <div class="app">
    <div class="modal">
        <div class="modal__body">

            <!-- modal dùng chung -->
            <div class="modal">
                <div class="madal__overlay">
                </div>
                <form id="myForm" method='post' action="{{url_for('logup')}}" class="modal__body color__form">
                    <!-- Register form -->
                    <div class="auth-form">
                        <div class="auth-form__container">
                            <div class="auth-form-header">
                                <a class="gachChan" href="{{ url_for('logup') }}"><h3 class="auth-form__heading">
                                    Đăng ký
                                </h3>
                                </a>
                                <a class="gachChan" href="{{ url_for('login') }}">
                                <span class="auth-form__swithBtn">
                                Đăng nhập
                                </span>
                                </a>
                            </div>

                            <div class="auth-form__form">
                                <div class="auth-form__form__group">
                                    <input id="name" name="name" type="text" class="auth-form__form__input" {% if er_m_num == 1 %}
                                           autofocus {% endif %} placeholder="Nhập họ và tên của bạn">
                                </div>
                                {% if er_m_num == 1 %}
                                <i class="fa-solid fa-exclamation"></i>
                                <span class="error-text">{{er_m_tex}}</span>
                                {% endif %}

                                <div class="auth-form__form__group">
                                    <input id="birthdate" name="birthdate" type="date" {% if er_m_num == 1 %}
                                           autofocus {% endif %} class="auth-form__form__input"
                                           placeholder="Nhập ngày sinh của bạn">
                                </div>
                                {% if er_m_num == 5 %}
                                <span class="error-text">{{er_m_tex}}</span>
                                {% endif %}
                                <div class="auth-form__form__group">
                                    <input id="address" name="address" type="text" class="auth-form__form__input"
                                           placeholder="Nhập địa chỉ của bạn">
                                </div>
                                <div class="auth-form__form__group">
                                    <input id="identification" name="identification" {% if er_m_num == 7 or  er_m_num == 8 %}
                                           autofocus {% endif %}  type="text" class="auth-form__form__input"
                                           placeholder="Nhập số căn cước công dân của bạn">
                                </div>
                                {% if er_m_num == 7 or er_m_num == 8 %}
                                <span class="error-text">{{er_m_tex}}</span>
                                {% endif %}
                                <div class="auth-form__form__group">
                                    <input id="nationality" name="nationality" type="text" class="auth-form__form__input"
                                           placeholder="Nhập quốc tịch của bạn">
                                </div>
                                <div class="auth-form__form__group">
                                    <input id="phone" name="phone" type="text" class="auth-form__form__input" {% if er_m_num== 2 %}
                                           autofocus {% endif %} placeholder="Nhập số điện thoại của bạn">
                                </div>
                                {% if er_m_num == 2 %}
                                <span class="error-text">{{er_m_tex}}</span>
                                {% endif %}
                                <div class="auth-form__form__group">
                                    <input id="email" name="email" type="text" class="auth-form__form__input" {% if er_m_num== 3 %}
                                           autofocus {% endif %} placeholder="Nhập email của bạn">
                                </div>
                                {% if er_m_num == 3 %}
                                <span class="error-text">{{er_m_tex}}</span>
                                {% endif %}

                                <div class="auth-form__form__group">
                                    <input id="passw1" name="passw1" type="password" {% if er_m_num == 6 %} autofocus {% endif %} class="auth-form__form__input"
                                           placeholder="Nhập mật khẩu của bạn">
                                </div>
                                {% if er_m_num == 6 %}
                                <span class="error-text">{{er_m_tex}}</span>
                                {% endif %}
                                <div class="auth-form__form__group">
                                    <input id="passw2" name="passw2" type="password" {% if er_m_num == 4 %} autofocus {% endif %}
                                           class="auth-form__form__input"
                                           placeholder="Nhập lại mật khẩu của bạn">
                                </div>
                                {% if er_m_num == 4 %}
                                <span class="error-text">{{er_m_tex}}</span>
                                {% endif %}
                            </div>
                            <div class="auth-form__aside">
                                <p class="auth-form__policy-text">
                                    Bằng việc đăng kí, bạn đã đồng ý với FlySafely về
                                    <a href="" class="auth-text-link">Điều khoản dịch vụ</a>
                                    &
                                    <a href="" class="auth-text-link">Chính sách bảo mật</a>
                                </p>
                            </div>

                            <div class="auth-form__controls">
                                <!--                    <button class="btn btn&#45;&#45;nolmal auth-form__controls-back">-->

                                <!--                        TRỞ LẠI-->
                                <!--                    </button>-->
                                <button id="btn_signUp" onclick="DuLieuNguoiDung()" type="submit" class="btn btn--primary">
                                    ĐĂNG KÝ
                                </button>
                            </div>
                        </div>


                        <div class="auth-form__socials">
                            <a href="" class="btn btn-size-s auth-form__socials--facebook btn--with--icon color">
                                <i class=" auth-form__socials-icon fa-brands fa-facebook"></i>
                                <span class="auth-form__socials-title">
                            Kết nối với FaceBook
                        </span>
                            </a>
                            <a href="" class="btn btn-size-s auth-form__socials--google btn--with--icon color">
                                <i class=" auth-form__socials-icon fa-brands fa-google color-icon"></i>

                                <span class="auth-form__socials-title">
                            Kết nối với Google
                        </span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
</body>
{% endblock %}
{% block js %}<script src="{{ url_for('static', filename='js/signUp.js') }}"></script>{% endblock%}
