{% extends 'layout/base.html' %}

{% block content %}

<div class="row">
    <table class="table mt-4" style="border: 1px solid #ccc;">
        <thead>
            <tr>
                <th scope="col" class="text-center" colspan="2">VÉ CHUYẾN BAY</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chuyến bay: <span class="fw-bold">{{ data['name'] }}</span></td>
                <td>Hành khách: <span class="fw-bold">{{ data['fullName'] }}</span></td>
            </tr>
            <tr>
                <td>Email: <span class="fw-bold">{{ data['email'] }}</span></td>
                <td>Điện thoại: <span class="fw-bold">{{ data['phone'] }}</span></td>
            </tr>
            <tr>
                <td>Thời gian bay: <span class="fw-bold">{{ data['time_from'] }}</span></td>
                <td>Giá tiền: <span class="fw-bold">{{ data['price'] }} VND</span></td>
            </tr>
            <tr>
                <td colspan="2">Thời gian đặt vé: <span class="fw-bold">{{ data['time_payment'] }}</span></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}